{% extends 'base.html' %}

{% block head %}
<title>Task Master </title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center" > Update Task</h1>
    <div class="form">
        <form action="/update/{{task.id}}" method ="POST"> 
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg">Edit Text</span>
                </div>
                <input type="text" name="content" id="content" value="{{task.content}}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                <input type = "submit" class = "btn btn-primary" value="Update Task"> 
            </div>
                  
        </form>
    </div>
</div>
{% endblock %}